table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: #f1f1f1;
  }
  
  td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  
  .badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }
  