.adminWrapper {
  padding: 20px;
}

.toggleButton {
  margin: 20px;
  padding: 10px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.backButton {
  margin: 20px auto;
  display: block;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #0056b3;
}